.back-img-1{
    background-image: url("../images/clock-blue.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-img-2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pret-img.appspot.com/o/randominder%2Fsources%2Fclock-yellow.png?alt=media&token=76816ff7-4bc1-40c3-b51a-d5fc1a4fb270");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-outlined{
    border: solid;
    border-width: 0.3rem;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back-outlined-sm{
    border: solid;
    border-width: 0.3rem;
    border-radius: 15px;
}