.c-light-blue{
    color: #A2DBE4;
}

.bg-light-blue{
    background-color: #A2DBE4;
}

.c-light-pink{
    color: #FEBDBB;
}

.bg-light-pink{
    background-color: #FEBDBB;
}

.c-dark-yellow{
    color: #FEBF1A;
}

.bg-dark-yellow{
    background-color: #FEBF1A;
}

.c-dark-pink{
    color: #FF99B4;
}

.bg-dark-pink{
    background-color: #FF99B4;
}

.c-light-purple{
    color: #BED4F0;
}